doctype html
html
  head
    title Customers 
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  body
    div.container.mt-3
      div
        a(href='/addcustomer').btn.btn-primary New customer 
      div.mt-3
        table.table.table-striped
          tbody
            thead
              tr
                td firstname 
                td lastname
                td email 
                td phone 
            each customer in customers
              tr 
                td #{customer.firstname}
                td #{customer.lastname}
                td #{customer.email}
                td #{customer.phone}